In [1]:
import pandas as pd

from pandas import Series,DataFrame

In [2]:
#import Excel file
xlsfile = pd.ExcelFile('isrc.xls')

In [3]:
#create a dataframe by parsing the first sheet of the excel file

df = xlsfile.parse('Intern Review Test Data')

#preview the head
df.head()

           isrc
0  QMQ241200008
1  usx9p0960226
2  ushm81560228
3  ushm81586992
4  ushm81454894

In [4]:
#preview the tail
df.tail()

              isrc
4472  uscgh1680126
4473  uscgh1680127
4474  ushm21112183
4475  uscgh1601759
4476  usdy41633063

In [5]:
#get the count of values
df.describe()

                isrc
count           4477
unique          4372
top     USDBB0682041
freq              15

In [6]:
#convert the 'isrc' series to string
df['isrc'] = df['isrc'].astype(str)

In [7]:
#check the value count
df.describe()

                isrc
count           4477
unique          4372
top     USDBB0682041
freq              15

In [8]:
#remove the dashes
df['Clean'] = df['isrc'].str.replace(r'-', '').str.strip()

In [9]:
#check the count of values in the new column 'Clean'
df.describe()

                isrc         Clean
count           4477          4477
unique          4372          4372
top     USDBB0682041  USDBB0682041
freq              15            15

In [11]:
#append the apostrophe to the beginning of each value
df['Clean'] = ("'" + df['Clean'])

In [12]:
#conver the series to uppercase
df['Clean'] = df['Clean'].str.upper()

In [17]:
#spot check
print(df.loc[[669,3420]])

              isrc          Clean
669   634479051609  '634479051609
3420  634479051609  '634479051609

In [18]:
#preview the head of the cleaned-up data frame
df.head()

           isrc          Clean
0  QMQ241200008  'QMQ241200008
1  usx9p0960226  'USX9P0960226
2  ushm81560228  'USHM81560228
3  ushm81586992  'USHM81586992
4  ushm81454894  'USHM81454894

In [20]:
#double check to make sure no dashes are in the cleaned data
df['Clean'].str.contains('-').any()

False

In [21]:
#export the 'Clean' series to csv
df['Clean'].to_csv('clean_data_using_python.csv')