In [1]:
import pandas as pd

from pandas import Series,DataFrame

In [2]:
#import Excel file
xlsfile = pd.ExcelFile('isrc.xls')

In [3]:
#create a dataframe by "parsing" the first sheet of the excel file

dframe = xlsfile.parse('Intern Review Test Data')

#preview
dframe.head()

           isrc
0  QMQ241200008
1  usx9p0960226
2  ushm81560228
3  ushm81586992
4  ushm81454894

                isrc         Clean
count           4477          4475
unique          4372          4370
top     USDBB0682041  USDBB0682041
freq              15            15

In [ ]:
dframe['Clean'] = dframe['isrc'].str.replace(r'-', '').str.strip()

In [19]:
dframe['Clean'].str.contains('-').any()

False

In [20]:
dframe['Clean'] = dframe['Clean'].str.upper()

In [25]:
dframe['Clean'] = ("'" + dframe['Clean'])

In [26]:
dframe['Clean'].to_csv('clean_data_python.csv')

In [27]:
#describe
dframe.describe()

                isrc          Clean
count           4477           4475
unique          4372           4370
top     USDBB0682041  'USDBB0682041
freq              15             15

In [28]:
#convert a series (dframe column) to string
dframe['clean2']= dframe['isrc'].apply(str)

In [29]:
dframe['clean2'] = dframe['isrc'].str.replace(r'-', '').str.strip()

In [30]:
dframe.describe()

                isrc          Clean        clean2
count           4477           4475          4475
unique          4372           4370          4371
top     USDBB0682041  'USDBB0682041  USDBB0682041
freq              15             15            15

In [ ]:
dframe['clean3']=dframe['isrc']