In [2]:
import numpy as np
import pandas as pd
from pandas import Series,DataFrame

In [3]:
ser1 = Series(np.arange(3),index=['A','B','C'])
ser1

A    0
B    1
C    2
dtype: int64

In [4]:
#double every value in ser1, pass new values back to ser1
ser1 = 2*ser1
ser1

A    0
B    2
C    4
dtype: int64

In [5]:
#call value of index 'B'
ser1['B']

2

In [6]:
#Grab value by the numerical value of index
ser1[1]

2

In [9]:
#grab value by a range of indexes starting index 0, up to before index 2
ser1[0:2]

A    0
B    2
dtype: int64

In [10]:
#grab by index value name
#pass a list ['A','B']
ser1[['A','B']]

A    0
B    2
dtype: int64

In [11]:
#Grab by logic (boolean logic or basic equations)
#grab everywhere of ser1 that is greater than 3

ser1[ser1>3]

C    4
dtype: int64

In [12]:
#set values using this kind of method
#where ser1 is greater than 3, set those values to 10

ser1[ser1>3] = 10

In [13]:
ser1

A     0
B     2
C    10
dtype: int64

In [20]:
#select entries from a dataframe
#create a dataframe

dframe = DataFrame(np.arange(25).reshape((5,5)),index=['NYC','LA','SF','DC','Chi'],columns=['A','B','C','D','E'])

In [21]:
dframe

      A   B   C   D   E
NYC   0   1   2   3   4
LA    5   6   7   8   9
SF   10  11  12  13  14
DC   15  16  17  18  19
Chi  20  21  22  23  24

In [22]:
#call B column of dframe
dframe['B']

NYC     1
LA      6
SF     11
DC     16
Chi    21
Name: B, dtype: int64

In [23]:
#Call multiple columns by passing a list of column names
dframe[['B','E']]

      B   E
NYC   1   4
LA    6   9
SF   11  14
DC   16  19
Chi  21  24

In [25]:
#Grab by logic (boolean logic or basic equations)

#grab rows where values of C column are greater than 8 => last 3 rows of data frame

dframe[dframe['C'] > 8]

      A   B   C   D   E
SF   10  11  12  13  14
DC   15  16  17  18  19
Chi  20  21  22  23  24

In [26]:
#show a boolean dataframe
#ask where in dframe is > 10
dframe > 10

         A      B      C      D      E
NYC  False  False  False  False  False
LA   False  False  False  False  False
SF   False   True   True   True   True
DC    True   True   True   True   True
Chi   True   True   True   True   True

In [27]:
#use .ix to label index

#return values of "LA" row => column names (A,B,C,D,E) become indexes
dframe.ix['LA']

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:3: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  This is separate from the ipykernel package so we can avoid doing imports until

A    5
B    6
C    7
D    8
E    9
Name: LA, dtype: int64

In [28]:
dframe

      A   B   C   D   E
NYC   0   1   2   3   4
LA    5   6   7   8   9
SF   10  11  12  13  14
DC   15  16  17  18  19
Chi  20  21  22  23  24

In [30]:
#return values of index-1 row (second row) using .ix
dframe.ix[1]

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:2: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated

A    5
B    6
C    7
D    8
E    9
Name: LA, dtype: int64