In [2]:
import numpy as np
import pandas as pd
from pandas import DataFrame,Series
from numpy.random import randn

In [3]:
ser = Series(randn(6),index=[[1,1,1,2,2,2],['a','b','c','a','b','c']])

In [4]:
ser

1  a   -0.936514
   b   -0.274734
   c   -0.692244
2  a    0.109226
   b   -0.094574
   c    0.709696
dtype: float64

In [5]:
#give the number of levels of index
#check multiple levels
ser.index

MultiIndex(levels=[[1, 2], ['a', 'b', 'c']],
           labels=[[0, 0, 0, 1, 1, 1], [0, 1, 2, 0, 1, 2]])

In [6]:
ser[1]
#call index "1" in level1 => first 3 values

a   -0.936514
b   -0.274734
c   -0.692244
dtype: float64

In [7]:
ser[2]
#call index "2" in level1 => last 3 values

a    0.109226
b   -0.094574
c    0.709696
dtype: float64

In [8]:
ser

1  a   -0.936514
   b   -0.274734
   c   -0.692244
2  a    0.109226
   b   -0.094574
   c    0.709696
dtype: float64

In [9]:
#call everything "a"
#everything is denoted by the colon ":"
ser[:,'a']

1   -0.936514
2    0.109226
dtype: float64

In [11]:
#create a dataframe from a series of many levels, using UNSTACK method
dframe = ser.unstack()
dframe

          a         b         c
1 -0.936514 -0.274734 -0.692244
2  0.109226 -0.094574  0.709696

In [12]:
#level 1 becomes index of rows
#lower index level (level 2) becomes index of columns

In [17]:
dframe2 = DataFrame(np.arange(16).reshape(4,4),index=[['a','a','b','b'],[1,2,1,2]],
                                                        #outer index     sub/inner index
                                                columns=[['NY','NY','LA','SF'],['cold','hot','hot','cold']])
                                                                #outer index       sub index
dframe2

      NY      LA   SF
    cold hot hot cold
a 1    0   1   2    3
  2    4   5   6    7
b 1    8   9  10   11
  2   12  13  14   15

In [18]:
dframe2.index.names=['INDEX_1','INDEX_2']
dframe2.columns.names=['Cities','Temp']
dframe2

Cities            NY      LA   SF
Temp            cold hot hot cold
INDEX_1 INDEX_2
a       1          0   1   2    3
        2          4   5   6    7
b       1          8   9  10   11
        2         12  13  14   15

In [19]:
#interchange the order of levels
#swap the index of columns (axis=1)
dframe2.swaplevel('Cities','Temp',axis=1)

Temp            cold hot     cold
Cities            NY  NY  LA   SF
INDEX_1 INDEX_2
a       1          0   1   2    3
        2          4   5   6    7
b       1          8   9  10   11
        2         12  13  14   15

In [20]:
#temp is now the outer level

In [21]:
#sort level
dframe2.sortlevel(1)

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:2: FutureWarning: sortlevel is deprecated, use sort_index(level= ...)

Cities            NY      LA   SF
Temp            cold hot hot cold
INDEX_1 INDEX_2
a       1          0   1   2    3
b       1          8   9  10   11
a       2          4   5   6    7
b       2         12  13  14   15

In [22]:
#1 => index-1 sublevel of rows is sorted => INDEX_2 is sort

In [24]:
dframe2.sortlevel(0)

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: FutureWarning: sortlevel is deprecated, use sort_index(level= ...)
  """Entry point for launching an IPython kernel.

Cities            NY      LA   SF
Temp            cold hot hot cold
INDEX_1 INDEX_2
a       1          0   1   2    3
        2          4   5   6    7
b       1          8   9  10   11
        2         12  13  14   15

In [25]:
#0 => index-0 level of rows => sort the outer index: INDEX_1 (a,a,b,b,)

In [26]:
dframe2.sortlevel(1)
#INDEX_2: 1,1,2,2

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: FutureWarning: sortlevel is deprecated, use sort_index(level= ...)
  """Entry point for launching an IPython kernel.

Cities            NY      LA   SF
Temp            cold hot hot cold
INDEX_1 INDEX_2
a       1          0   1   2    3
b       1          8   9  10   11
a       2          4   5   6    7
b       2         12  13  14   15

In [27]:
#compute a sum on a certain level 

#pass a level argument
#compute a sum on the "temp" level and compute the sum on the columns (axis=1)
#=> compute sum of column "cold" and column "hot" (ignore the cities)
dframe2.sum(level='Temp',axis=1)

Temp             cold  hot
INDEX_1 INDEX_2
a       1           3    3
        2          11   11
b       1          19   19
        2          27   27