In [1]:
#two imports

import sqlite3
import pandas as pd

In [2]:
#Python comes with SQLite3, 
#which provides a lightweight disk-based database that doesn't require a seperate server process. 
#It's useful to prototype with SQLite and then import the code to a larger database system, like MySQL. 
#module SQLite3: awesome module to connect to a SQL database with SQLite.

In [3]:
#To use the module, 
#you must first create a Connection object that represents the database. 
#If the database name already exists,
#SQLite3 will automatically connect to it, 
#if the database name does not exsist, 
#SQLite3 will automatically create.

#For experienced users: 
#You can also supply the special name :memory: to create a database in RAM.

In [22]:
#connect to the database (create a Connection (con) object that represents the datbase)
#sqlite3: module
#pass the database name to the .connect() method
con = sqlite3.connect('sakila.db')

In [6]:
#Now we can run a basic SQL query, pass it with pandas, and display the output as a DataFrame!
#Don't worry if you don't understand the query completely yet, this is just a usage example for connecting to the database, other lectures will dive deeper into SQL queries.

In [23]:
#set SQL query as a comment
#select all (*) from the 'customer' table
sql_query = ''' SELECT * FROM customer '''

In [24]:
#use pandas to pass SQL query using connection from SQLite 3
#provide the sql_query object and the connection object
df = pd.read_sql(sql_query,con)

DatabaseError: Execution failed on sql ' SELECT * FROM customer ': no such table: customer