In [1]:
import numpy as np

In [3]:
import pandas as pd

In [4]:
from pandas import Series, DataFrame

In [5]:
obj = Series([3,6,9,12])
obj

0     3
1     6
2     9
3    12
dtype: int64

In [6]:
obj.values()

TypeError: 'numpy.ndarray' object is not callable

In [7]:
obj.values

array([ 3,  6,  9, 12])

In [8]:
obj.index

RangeIndex(start=0, stop=4, step=1)

In [9]:
#create a series
#world war II casualties
ww2_cas = Series([8700000,4300000,3000000,2100000,400000],index=['USSR','Germany','China','Japan','USA'])
ww2_cas

USSR       8700000
Germany    4300000
China      3000000
Japan      2100000
USA         400000
dtype: int64

In [10]:
ww2_cas['USA']

400000

In [11]:
#Check which countries had casualties greater than 4 million
ww2_cas[ww2_cas > 4000000]

USSR       8700000
Germany    4300000
dtype: int64

In [12]:
'USSR' in ww2_cas

True

In [13]:
#convert a series into a dictionary: use function .to_dict()
ww2_dict = ww2_cas.to_dict()
ww2_dict

{'USSR': 8700000,
 'Germany': 4300000,
 'China': 3000000,
 'Japan': 2100000,
 'USA': 400000}

In [14]:
#convert a dictionary into a series (feed into a series command the dictionary name)
ww2_series = Series(ww2_dict)

In [15]:
ww2_series

USSR       8700000
Germany    4300000
China      3000000
Japan      2100000
USA         400000
dtype: int64

In [16]:
#create "countries" list
countries = ['China','Germany','Japan','USA','USSR','Argentina']

In [17]:
#set the index of the series to come from the list "countries" above

In [18]:
obj2 = Series(ww2_dict,index=countries)

In [19]:
obj2

China        3000000.0
Germany      4300000.0
Japan        2100000.0
USA           400000.0
USSR         8700000.0
Argentina          NaN
dtype: float64

In [20]:
#NaN means Null value

In [21]:
#check every value of the series to see if the value "is null" 
pd.isnull(obj2)

China        False
Germany      False
Japan        False
USA          False
USSR         False
Argentina     True
dtype: bool

In [22]:
#check every value of the series to see if the value is "not null" 

pd.notnull(obj2)

China         True
Germany       True
Japan         True
USA           True
USSR          True
Argentina    False
dtype: bool

In [23]:
ww2_series

USSR       8700000
Germany    4300000
China      3000000
Japan      2100000
USA         400000
dtype: int64

In [24]:

obj2

China        3000000.0
Germany      4300000.0
Japan        2100000.0
USA           400000.0
USSR         8700000.0
Argentina          NaN
dtype: float64

In [25]:
#add objects to existing series. The indexes will be alphabetized
ww2_series + obj2

Argentina           NaN
China         6000000.0
Germany       8600000.0
Japan         4200000.0
USA            800000.0
USSR         17400000.0
dtype: float64

In [27]:
#create name for a series (put the name in double quotation marks)
obj2.name = "World War 2 Casulaties"
obj2

China        3000000.0
Germany      4300000.0
Japan        2100000.0
USA           400000.0
USSR         8700000.0
Argentina          NaN
Name: World War 2 Casulaties, dtype: float64

In [28]:
#label the indexes of a series (put the index label in single quotation marks)
obj2.index.name = 'countries'
obj2

countries
China        3000000.0
Germany      4300000.0
Japan        2100000.0
USA           400000.0
USSR         8700000.0
Argentina          NaN
Name: World War 2 Casulaties, dtype: float64