In [1]:
import pandas as pd

In [2]:
# pip install xlrd
# pip install openpyxl

In [4]:
#similar to importing a csv file
xlsfile = pd.ExcelFile('Lec_28_test.xlsx')

In [6]:
#create a dataframe by "parsing" the first sheet of the excel file
dframe = xlsfile.parse('Sheet1')

In [7]:
dframe

   This is a test  Unnamed: 1  Unnamed: 2
0              23        6678         456
1             234         678         456
2             234           7         345
3              34          56         234
4               5         456        4365

In [ ]:
#automatically index all the rows. All unnamed columns are named "Unnamed: 1", etc.
#look at Pandas documentation for more things you can do with an excel file