In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [2]:
from numpy.random import randn

In [3]:
#randn, Series, DataFrame are libraries

#create a series called 'ser1'
ser1 = Series([1,2,3,4],index =['A','B','C','D'])

In [4]:
ser1

A    1
B    2
C    3
D    4
dtype: int64

In [5]:
#pass a new reindexing list to existing series
ser2 = ser1.reindex(['A','B','C','D','E','F'])
ser2
#pandas automatically gives Null values to empty indexes

A    1.0
B    2.0
C    3.0
D    4.0
E    NaN
F    NaN
dtype: float64

In [6]:
#reindex series 2. Fill all values of these indexes with 0
ser1.reindex(['A','B','C','D','E','F','G'],fill_value=0)

A    1
B    2
C    3
D    4
E    0
F    0
G    0
dtype: int64

In [7]:
#methods for filling values
ser3 = Series(['USA','Mexico','Canada'],index=[0,5,10])
ser3

0        USA
5     Mexico
10    Canada
dtype: object

In [8]:
# ranger = [0,1,2,....14]
ranger = range(15)
ranger

range(0, 15)

In [10]:
#ffill = forward fill
ser3.reindex(ranger,method='ffill')

0        USA
1        USA
2        USA
3        USA
4        USA
5     Mexico
6     Mexico
7     Mexico
8     Mexico
9     Mexico
10    Canada
11    Canada
12    Canada
13    Canada
14    Canada
dtype: object

In [15]:
#make a dataframe. Call 25 random numbers. Reshape them into a 5x5 matrix.
#set index of rows
#set index of columns
dframe = DataFrame(randn(25).reshape(5,5),index = ['A','B','D','E','F'],
                                       columns= ['col1','col2','col3','col4','col5'])
dframe

       col1      col2      col3      col4      col5
A -0.230974 -0.487146 -0.187186  0.297033  0.674405
B  0.864568 -0.078668 -1.717770 -0.863471 -0.310495
D -0.713519 -1.830808 -1.856798  0.976074  0.211712
E -0.928750 -0.560215 -0.673436  0.735427  1.334782
F -1.852291  0.008279 -0.323267 -0.769956  0.480838

In [16]:
#call another dataframe by reindexing dframe 1
dframe2 = dframe.reindex(['A','B','C','D','E','F'])
dframe2
#row C is new => filled with Null values

       col1      col2      col3      col4      col5
A -0.230974 -0.487146 -0.187186  0.297033  0.674405
B  0.864568 -0.078668 -1.717770 -0.863471 -0.310495
C       NaN       NaN       NaN       NaN       NaN
D -0.713519 -1.830808 -1.856798  0.976074  0.211712
E -0.928750 -0.560215 -0.673436  0.735427  1.334782
F -1.852291  0.008279 -0.323267 -0.769956  0.480838

In [17]:
#explicitly reindex columns
#make a list called "new_columns"
new_columns = ['col1','col2','col3','col4','col5','col6']

In [18]:
new_columns

['col1', 'col2', 'col3', 'col4', 'col5', 'col6']

In [19]:
#to reindex columns of a dataframe, you have to call "columns" specificly
dframe2.reindex(columns=new_columns)
#col6 is new => filled with Null values

       col1      col2      col3      col4      col5  col6
A -0.230974 -0.487146 -0.187186  0.297033  0.674405   NaN
B  0.864568 -0.078668 -1.717770 -0.863471 -0.310495   NaN
C       NaN       NaN       NaN       NaN       NaN   NaN
D -0.713519 -1.830808 -1.856798  0.976074  0.211712   NaN
E -0.928750 -0.560215 -0.673436  0.735427  1.334782   NaN
F -1.852291  0.008279 -0.323267 -0.769956  0.480838   NaN

In [20]:
#original data frame
dframe

       col1      col2      col3      col4      col5
A -0.230974 -0.487146 -0.187186  0.297033  0.674405
B  0.864568 -0.078668 -1.717770 -0.863471 -0.310495
D -0.713519 -1.830808 -1.856798  0.976074  0.211712
E -0.928750 -0.560215 -0.673436  0.735427  1.334782
F -1.852291  0.008279 -0.323267 -0.769956  0.480838

In [21]:
#reindex quickly using .ix
dframe.ix[['A','B','C','D','E','F'],new_columns]

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:2: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:2: FutureWarning:
Passing list-likes to .loc or [] with any missing label will raise
KeyError in the future, you can use .reindex() as an alternative.

See the documentation here:
https://pandas.pydata.org/pandas-docs/stable/indexing.html#deprecate-loc-reindex-listlike

       col1      col2      col3      col4      col5  col6
A -0.230974 -0.487146 -0.187186  0.297033  0.674405   NaN
B  0.864568 -0.078668 -1.717770 -0.863471 -0.310495   NaN
C       NaN       NaN       NaN       NaN       NaN   NaN
D -0.713519 -1.830808 -1.856798  0.976074  0.211712   NaN
E -0.928750 -0.560215 -0.673436  0.735427  1.334782   NaN
F -1.852291  0.008279 -0.323267 -0.769956  0.480838   NaN