In [1]:
import numpy as np
import pandas as pd
from pandas import DataFrame,Series

In [2]:
dframe = pd.read_csv('lec25.csv')
dframe

   q  r  s  t   apple
0  2  3  4  5    pear
1  a  s  d  f  rabbit
2  5  2  5  7     dog

In [3]:
dframe = pd.read_csv('lec25.csv',header=None)

In [4]:
dframe

   0  1  2  3       4
0  q  r  s  t   apple
1  2  3  4  5    pear
2  a  s  d  f  rabbit
3  5  2  5  7     dog

In [7]:
#indicate what the delimiter/separator is
#read_table doesn't know the extension .csv
dframe1 = pd.read_table('lec25.csv',sep=',',header=None)

In [8]:
dframe1

   0  1  2  3       4
0  q  r  s  t   apple
1  2  3  4  5    pear
2  a  s  d  f  rabbit
3  5  2  5  7     dog

In [9]:
#indicate a specific number of rows in a big file
#pass the argument nrows
pd.read_csv('lec25.csv',nrows=2,header=None)

   0  1  2  3      4
0  q  r  s  t  apple
1  2  3  4  5   pear

In [10]:
dframe

   0  1  2  3       4
0  q  r  s  t   apple
1  2  3  4  5    pear
2  a  s  d  f  rabbit
3  5  2  5  7     dog

In [11]:
#export a dataframe (output it to a file)
#argument is the desired name of output file. Save in the same folder
dframe.to_csv('mytextdata_out.csv')

In [12]:
#import system
import sys

In [13]:
#show the output. Not actually saving
dframe.to_csv(sys.stdout)

,0,1,2,3,4
0,q,r,s,t,apple
1,2,3,4,5,pear
2,a,s,d,f,rabbit
3,5,2,5,7,dog

In [14]:
dframe.to_csv(sys.stdout,sep='_')

_0_1_2_3_4
0_q_r_s_t_apple
1_2_3_4_5_pear
2_a_s_d_f_rabbit
3_5_2_5_7_dog

In [15]:
#export only a few columns of file
dframe.to_csv(sys.stdout,columns=[0,1,2])

,0,1,2
0,q,r,s
1,2,3,4
2,a,s,d
3,5,2,5

In [17]:
#csv is integrated in Python, not Pandas
#You should also check out pythons built-in csv reader and writer for more info:
# https://docs.python.org/2/library/csv.html
url = 'https://docs.python.org/2/library/csv.html'

In [18]:
url

'https://docs.python.org/2/library/csv.html'