In [1]:
#Let's go ahead and start with some imports
import pandas as pd
from pandas import Series,DataFrame
import numpy as np

# For Visualization
import matplotlib.pyplot as plt
import seaborn as sns
sns.set_style('whitegrid')

%matplotlib inline 
# This line is necessary for the plot to appear in a Jupyter

#import data reader
pd.core.common.is_list_like = pd.api.types.is_list_like
from pandas_datareader import data

In [16]:
#get all available data from 01/01/2018 until 10/26/2018.
start_date = '2017-10-27'
end_date = '2018-10-26'

In [15]:
msft_df = data.DataReader('MSFT','robinhood')
msft_df

                  close_price  high_price  interpolated   low_price  \
symbol begins_at
MSFT   2017-10-27   82.318900   84.666400         False   82.122500
       2017-10-30   82.397500   82.824700         False   81.626500
       2017-10-31   81.700100   82.859100         False   81.631400
       2017-11-01   81.700100   82.269800         False   81.405500
       2017-11-02   82.554600   82.957300         False   81.641200
       2017-11-03   82.643000   83.035900         False   81.916200
       2017-11-06   82.967200   83.193100         False   82.586600
       2017-11-07   82.770700   83.389500         False   82.436800
       2017-11-08   83.055600   83.104700         False   82.338600
       2017-11-09   82.593900   82.770700         False   81.425100
       2017-11-10   82.377800   82.598800         False   81.749200
       2017-11-13   82.436800   82.446600         False   81.975100
       2017-11-14   82.554600   82.603800         False   81.503700
       2017-11-15   81.918300   82.619200         False   81.632000
       2017-11-16   82.135500   82.352700         False   81.878800
       2017-11-17   81.345700   82.056500         False   81.187800
       2017-11-20   81.474100   81.533300         False   81.197600
       2017-11-21   82.648800   82.767300         False   81.681400
       2017-11-22   82.046600   82.826500         False   81.977500
       2017-11-24   82.194700   82.362500         False   81.720900
       2017-11-27   82.796900   82.905500         False   82.234200
       2017-11-28   83.794000   83.971700         False   82.945000
       2017-11-29   82.273700   83.830700         False   82.110800
       2017-11-30   83.093100   83.438600         False   82.273700
       2017-12-01   83.181900   83.724900         False   82.155200
       2017-12-04   80.042600   83.349700         False   79.667500
       2017-12-05   80.546100   81.622100         False   79.944000
       2017-12-06   81.720900   82.076300         False   80.388100
       2017-12-07   81.434600   81.740600         False   80.950800
       2017-12-08   83.083200   83.497800         False   82.263800
...                       ...         ...           ...         ...
       2018-09-17  112.140000  113.700000         False  111.860000
       2018-09-18  113.210000  113.695000         False  111.720000
       2018-09-19  111.700000  113.320000         False  111.035000
       2018-09-20  113.570000  113.800000         False  111.930000
       2018-09-21  114.260000  115.290000         False  113.510000
       2018-09-24  114.670000  114.900000         False  112.217500
       2018-09-25  114.450000  115.100000         False  113.750000
       2018-09-26  113.980000  115.055000         False  113.740000
       2018-09-27  114.410000  114.910000         False  114.200000
       2018-09-28  114.370000  114.570000         False  113.680000
       2018-10-01  115.610000  115.680000         False  114.730000
       2018-10-02  115.150000  115.840000         False  114.440000
       2018-10-03  115.170000  116.180000         False  114.930000
       2018-10-04  112.790000  114.758800         False  111.630000
       2018-10-05  112.130000  113.170000         False  110.640000
       2018-10-08  110.850000  112.030000         False  109.340000
       2018-10-09  112.260000  113.080000         False  110.800000
       2018-10-10  106.160000  111.500000         False  105.790000
       2018-10-11  105.910000  108.930000         False  104.200000
       2018-10-12  109.570000  111.240000         False  107.120000
       2018-10-15  107.600000  109.480000         False  106.946800
       2018-10-16  111.000000  111.410000         False  108.950000
       2018-10-17  110.710000  111.810000         False  109.548200
       2018-10-18  108.500000  110.530000         False  107.830000
       2018-10-19  108.660000  110.860000         False  108.210000
       2018-10-22  109.630000  110.540000         False  108.240000
       2018-10-23  108.100000  108.970000         False  105.110000
       2018-10-24  102.320000  108.490000         False  101.590100
       2018-10-25  108.300000  109.270000         False  106.150000
       2018-10-26  106.960000  108.750000         False  104.760000

                   open_price session    volume
symbol begins_at
MSFT   2017-10-27   82.868900     reg  71066729
       2017-10-30   82.210900     reg  31756653
       2017-10-31   82.859100     reg  27086575
       2017-11-01   82.191200     reg  22307371
       2017-11-02   81.867100     reg  23992945
       2017-11-03   82.584100     reg  17633543
       2017-11-06   82.702000     reg  19860852
       2017-11-07   83.261800     reg  17939727
       2017-11-08   82.643000     reg  18034170
       2017-11-09   82.613600     reg  21178356
       2017-11-10   82.299300     reg  19397793
       2017-11-13   82.171600     reg  14196896
       2017-11-14   82.014400     reg  18801280
       2017-11-15   82.402000     reg  19383102
       2017-11-16   82.036800     reg  20962750
       2017-11-17   82.056500     reg  22078993
       2017-11-20   81.345700     reg  16314978
       2017-11-21   81.681400     reg  21237454
       2017-11-22   82.757400     reg  20553089
       2017-11-24   81.947900     reg   7425603
       2017-11-27   82.244100     reg  18265242
       2017-11-28   82.994400     reg  21925959
       2017-11-29   83.626200     reg  27381109
       2017-11-30   82.441500     reg  33054647
       2017-12-01   82.530400     reg  29532132
       2017-12-04   83.339900     reg  39094880
       2017-12-05   80.299300     reg  26152261
       2017-12-06   80.506600     reg  26162054
       2017-12-07   81.483900     reg  23184547
       2017-12-08   82.560000     reg  24489106
...                       ...     ...       ...
       2018-09-17  113.690000     reg  20736516
       2018-09-18  112.190000     reg  22170934
       2018-09-19  113.050000     reg  21728429
       2018-09-20  112.280000     reg  23714512
       2018-09-21  114.000000     reg  71229698
       2018-09-24  113.030000     reg  27334460
       2018-09-25  114.800000     reg  22668014
       2018-09-26  114.470000     reg  19352025
       2018-09-27  114.780000     reg  19091299
       2018-09-28  114.190000     reg  21647811
       2018-10-01  114.750000     reg  18883079
       2018-10-02  115.300000     reg  20787239
       2018-10-03  115.420000     reg  16648018
       2018-10-04  114.610000     reg  34821717
       2018-10-05  112.630000     reg  29068859
       2018-10-08  111.660000     reg  29640588
       2018-10-09  111.140000     reg  26198594
       2018-10-10  111.240000     reg  61376315
       2018-10-11  105.350000     reg  63904282
       2018-10-12  109.010000     reg  47742109
       2018-10-15  108.910000     reg  32068103
       2018-10-16  109.540000     reg  31610164
       2018-10-17  111.680000     reg  26548243
       2018-10-18  110.100000     reg  32506192
       2018-10-19  108.930000     reg  32785475
       2018-10-22  109.320000     reg  26545607
       2018-10-23  107.770000     reg  43770429
       2018-10-24  108.410000     reg  63897759
       2018-10-25  106.550000     reg  61646819
       2018-10-26  105.690000     reg  55523104

[252 rows x 7 columns]

In [38]:
close= msft_df['close_price'].reindex()
all_weekdays = pd.date_range(start=start_date, end=end_date, freq='B')

In [26]:
msft = close.reset_index()

In [27]:
msft.head()

  symbol  begins_at close_price
0   MSFT 2017-10-27   82.318900
1   MSFT 2017-10-30   82.397500
2   MSFT 2017-10-31   81.700100
3   MSFT 2017-11-01   81.700100
4   MSFT 2017-11-02   82.554600

In [34]:
all_weekdays

DatetimeIndex(['2017-10-27', '2017-10-30', '2017-10-31', '2017-11-01',
               '2017-11-02', '2017-11-03', '2017-11-06', '2017-11-07',
               '2017-11-08', '2017-11-09',
               ...
               '2018-10-15', '2018-10-16', '2018-10-17', '2018-10-18',
               '2018-10-19', '2018-10-22', '2018-10-23', '2018-10-24',
               '2018-10-25', '2018-10-26'],
              dtype='datetime64[ns]', length=261, freq='B')

In [35]:
msft.describe()

       symbol            begins_at close_price
count     252                  252         252
unique      1                  252         247
top      MSFT  2017-10-30 00:00:00  100.466500
freq      252                    1           2
first     NaN  2017-10-27 00:00:00         NaN
last      NaN  2018-10-26 00:00:00         NaN

In [40]:
new_df = msft_df['close_price'].reindex(all_weekdays)

ValueError: cannot include dtype 'M' in a buffer