In [1]:
#Let's go ahead and start with some imports
import pandas as pd
from pandas import Series,DataFrame
import numpy as np

# For Visualization
import matplotlib.pyplot as plt
import seaborn as sns
sns.set_style('whitegrid')

%matplotlib inline 
# This line is necessary for the plot to appear in a Jupyte

In [9]:
#import data reader
import pandas_datareader.data as web

In [10]:
import datetime
start = datetime.datetime(2017, 1, 1)
end = datetime.datetime(2018, 1, 1)

In [14]:
f = web.DataReader('F','robinhood',start,end)

In [15]:
f.head()

                  close_price high_price  interpolated  low_price open_price  \
symbol begins_at
F      2017-10-27   11.251200  11.419100         False  11.204600  11.409800
       2017-10-30   11.288500  11.335200         False  11.148600  11.204500
       2017-10-31   11.447100  11.475100         False  11.315600  11.335200
       2017-11-01   11.521700  11.633700         False  11.452000  11.568400
       2017-11-02   11.587000  11.596400         False  11.437800  11.503100

                  session    volume
symbol begins_at
F      2017-10-27     reg  33925366
       2017-10-30     reg  36457435
       2017-10-31     reg  42010246
       2017-11-01     reg  43495830
       2017-11-02     reg  40923421

In [16]:
f['close_price'].head()

symbol  begins_at
F       2017-10-27    11.251200
        2017-10-30    11.288500
        2017-10-31    11.447100
        2017-11-01    11.521700
        2017-11-02    11.587000
Name: close_price, dtype: object

In [17]:
# The tech stocks we'll use for this analysis
tech_list = ['AAPL','GOOG','MSFT','AMZN']

In [23]:
#end = current year
# use datetime.datetime.now() 
#or: datetime.datetime.today()
end = datetime.datetime.now()

In [22]:
#start = previous year
start = datetime.datetime(end.year-1, end.month, end.day)

In [25]:
#For loop for grabing yahoo finance data and setting as a dataframe

for stock in tech_list:
    #set dataframe as the StockTicker
    globals()[stock] = web.DataReader(stock,'robinhood',start,end)

In [26]:
#Quick note: Using globals() is a sloppy way of setting the DataFrame names, but its simple

In [27]:
#Let's go ahead and play aorund with the AAPL DataFrame to get a feel for the data

In [28]:
#summary stats
AAPL.describe()

             volume
count  2.520000e+02
mean   3.101325e+07
std    1.272942e+07
min    1.251979e+07
25%    2.252263e+07
50%    2.818569e+07
75%    3.665034e+07
max    9.624675e+07

In [29]:
AAPL.head()

                  close_price  high_price  interpolated   low_price  \
symbol begins_at
AAPL   2017-10-27  160.621400  161.163200         False  156.336200
       2017-10-30  164.236700  165.566600         False  161.281400
       2017-10-31  166.522200  167.123000         False  164.453400
       2017-11-01  164.404200  167.408800         False  163.143300
       2017-11-02  165.606000  165.990200         False  162.818200

                   open_price session    volume
symbol begins_at
AAPL   2017-10-27  156.917400     reg  44454160
       2017-10-30  161.448900     reg  44700772
       2017-10-31  165.399200     reg  36046828
       2017-11-01  167.339800     reg  33637762
       2017-11-02  164.118500     reg  41393373

In [30]:
#general info
AAPL.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 252 entries, (AAPL, 2017-10-27 00:00:00) to (AAPL, 2018-10-26 00:00:00)
Data columns (total 7 columns):
close_price     252 non-null object
high_price      252 non-null object
interpolated    252 non-null bool
low_price       252 non-null object
open_price      252 non-null object
session         252 non-null object
volume          252 non-null int64
dtypes: bool(1), int64(1), object(5)
memory usage: 14.9+ KB

In [35]:
AAPL['close_price'].describe()

count            252
unique           246
top       173.023000
freq               2
Name: close_price, dtype: object

In [46]:
AAPL['close_price'].head()

symbol  begins_at
AAPL    2017-10-27    160.621400
        2017-10-30    164.236700
        2017-10-31    166.522200
        2017-11-01    164.404200
        2017-11-02    165.606000
Name: close_price, dtype: object

In [54]:
AAPL1=AAPL.reset_index(0

In [57]:
AAPL['close_price'].head()

symbol  begins_at
AAPL    2017-10-27    160.621400
        2017-10-30    164.236700
        2017-10-31    166.522200
        2017-11-01    164.404200
        2017-11-02    165.606000
Name: close_price, dtype: object

In [58]:
AAPL1.head()

,symbol,begins_at,close_price,high_price,interpolated,low_price,open_price,session,volume
0,AAPL,2017-10-27,160.621400,161.163200,False,156.336200,156.917400,reg,44454160
1,AAPL,2017-10-30,164.236700,165.566600,False,161.281400,161.448900,reg,44700772
2,AAPL,2017-10-31,166.522200,167.123000,False,164.453400,165.399200,reg,36046828
3,AAPL,2017-11-01,164.404200,167.408800,False,163.143300,167.339800,reg,33637762
4,AAPL,2017-11-02,165.606000,165.990200,False,162.818200,164.118500,reg,41393373

In [68]:
# Import matplotlib
import matplotlib.pyplot as plt   

# This line is necessary for the plot to appear in a Jupyter notebook
%matplotlib inline

# Control the default size of figures in this Jupyter notebook
%pylab inline

# Change the size of plots
pylab.rcParams['figure.figsize'] = (15, 9)

Populating the interactive namespace from numpy and matplotlib

In [72]:
AAPL["close_price"].plot(grid = True)

TypeError: Empty 'DataFrame': no numeric data to plot